$blue: #285294;

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  background-color: #f5f5f5;
  color: #333;
}

.wrapper {
  max-width: 500px;
  width: 100%;
  background-color: #efefef;
  margin: 0 auto;
  box-shadow: 0 0 8px gray;
}

.header {
  position: relative;
  display: block;
  height: 50px;

  &_title {
    background-color: #fff;
    border-bottom: 2px solid #efefef;
    position: absolute;
    z-index: 7;
    width: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    cursor: default;
  }

  &_hamb-btn {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 5px;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    padding: 14px;

    &:hover {
      cursor: pointer;
    }

    &_line {
      display: block;
      width: 100%;
      border-top: 2px solid #555;
      border-radius: 5px;
      border-color: #555;
      transition: all 0.3s ease;

      &:nth-child(2) {
        margin: 7px 0;
      }
    }
  }

  .hamb-active {
    &:first-child {
      -webkit-transform: translateY(9px) rotate(45deg);
      transform: translateY(9px) rotate(45deg);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:last-child {
      -webkit-transform: translateY(-9px) rotate(-45deg);
      transform: translateY(-9px) rotate(-45deg);
    }
  }

  &_menuSP {
    position: absolute;
    z-index: 5;
    top: -200px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 70px 0 20px;
    text-align: center;
    background-color: #fff;
    user-select: none;

    &_item {
      display: inline-block;
      color: #555;
      font-size: 16px;
      margin: 10px 0;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.omikuji {
  &_balloon {
    position: relative;
    margin: 70px 70px 10px;
    padding: 15px;
    color: #555;
    font-size: 16px;
    background: #fff;
    border-radius: 10px;

    &:before {
      content: "";
      position: absolute;
      top: 100%;
      right: 25px;
      border: 15px solid transparent;
      border-top: 15px solid #fff;
    }

    &_txt {
      text-align: center;
      font-size: 15px;
      cursor: default;
    }
  }

  &_cat {
    display: block;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 50px;

    &-active {
      transition: 5s;
      transform: rotate(4turn);
    }
  }

  &_btn {
    width: 140px;
    height: 140px;
    background-color: $blue;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
    line-height: 140px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    transition-duration: 0.3s;

    &:hover {
      opacity: 0.5;
    }
  }

  &_result {
    display: none;
    background-color: #fff;
    max-width: 440px;
    margin: 0 auto;

    &_fortune {
      padding: 50px 0;
      text-align: center;
      font-size: 70px;
      font-weight: bold;
      color: $blue;
    }

    hr {
      display: block;
      height: 3px;
      margin: 0 auto;
      background-color: $blue;
      width: 75%;
      border: none;
    }

    &_disc {
      width: 75%;
      margin: 0 auto;
      padding: 25px 0;
      font-size: 14px;
      color: $blue;

      &_txt {
        margin: 10px 0;

        span {
          padding-left: 10px;
          color: #555;
        }
      }
    }

    &_cat {
      display: block;
      width: 50%;
      margin: 0 auto;
      padding: 40px 0;

      img {
        width: 100%;
      }
    }

    &_replaybtn {
      padding: 20px 30px;
      text-align: center;
      background-color: $blue;
      color: #fff;
      cursor: pointer;
      user-select: none;
      transition-duration: 0.3s;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.twitter-share-button {
  display: block;
  margin: 50px auto;
}

footer {
  p {
    text-align: center;
    font-size: 13px;
    height: 40px;
    line-height: 40px;
  }
}
